* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 100vw;
    
}

h2 {
    font-size: 2rem;
    color: snow;

}
section {
    font-size: 1.25rem;
    padding-right: 10rem;
    width: 100%;
    justify-content: end;
    color: white;
    display: flex;
    gap: 2rem;
    
}

h1 {
    margin-top: 4rem;
    margin-left: 2rem;
    color: cadetblue;
}
.content {
    margin-top: 3rem;
    margin-left: 2rem;
    color: aliceblue;
    width: 50rem;
    font-size: 1.4rem;
}

.first {
    color: sandybrown;
}
.second {
    color: #00f6a4 ;
}


svg {
    height: 2rem;
    fill: antiquewhite;
    
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 18rem;
    gap: 1rem;

}
svg.grow {
    transition:   ease-in;
}
svg:hover {
 transform: scale(1.7);
}